.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 15vw;
}

.button {
  width: 300px;
  margin: 10px;
}
