.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.dotActive,
.dotInactive {
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 0.2);
  margin: 5px;
  cursor: pointer;
}

.dotActive {
  border: 2px solid rgba(51, 51, 51, 0.5);
}
