._main { // FOR COMPONENT MAIN ELEMENT. DO NOT DELETE
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

._scope { // FOR HTML ELEMENT AND ATTRIBUTE SELECTORS. DO NOT DELETE
  * {
    box-sizing: border-box; // TODO: TEMP
  }
}

.active,
.inactive {
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 0.2);
  margin: 3px;
  cursor: pointer;
  transition: border 0.3s linear;
}

.active {
  border: 2px solid rgba(51, 51, 51, 0.5);
}
