.root {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  margin: 5px;
}

.header {
  display: table-cell;
  vertical-align: middle;
  height: 25px;
  white-space: nowrap;
}

.triangleRight {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ffffff;
  cursor: pointer;
  transition: transform 0.1s linear;
}

.title {
  font-size: 22px;
  margin-left: 12px;
  cursor: pointer;
  white-space: nowrap;
  color: #ffffff;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 0;
  transition: height 0.1s linear, opacity 0.5s linear;
  padding-left: 20px;
  opacity: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

.item {
  margin: 5px;
  font-size: 20px;
  height: 25px;
  padding-bottom: 5px;
  color: #ffffff;
}

.item:first-child {
  margin: 12px 5px 5px 5px;
}

.item:hover,
.item:focus,
.item:active {
  border-bottom: 1px solid #ffffff;
}
