@import '../../css/colors.module';

.button {
  border-color: $color-white;
  color: $color-white;
  padding: 10px 50px;
  font-size: 16px;
}

.buttonEnabled:hover,
.buttonEnabled:focus {
  background-color: rgba(222, 222, 222, 0.1);
}
