.root {
  display: inline-block;
  margin: 5px;
}

.input {
  display: inline-block;
  background-color: transparent;
  padding: 10px;
  border: 1px solid #232323;
  border-radius: 5px;
  color: #232323;
  transition: border-bottom 0.2s linear, border 0.2s linear;
}

.input::placeholder {
  color: #232323;
  opacity: 0.4;
}

.input:focus {
  border-color: #e88b0e;
}

.input + label {
  display: none;
}

.blink {
  animation: blink 0.3s linear none 3;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
