// TODO: PASS ALL COLORS TO SCSS VARIABLES

$color-white: #dedede;
$color-orange: #e88b0e;
$color-green: #94ff36;
$color-red: #e83b35;
$color-yellow: #e8e639;

.main {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
  }

  input {
    background-color: transparent;
    outline: none;
    border-radius: 0;
  }
}

.inputParent {
  // INPUT CONTAINER AND RESET DEFAULT STYLES
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 0;

  // POSITION/CENTER ALL ELEMENTS AND RESET DEFAULT STYLES
  *,
  *::before,
  *::after {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 0;
    cursor: pointer;
  }

  // HIDE DEFAULT ELEMENTS
  input {
    opacity: 0!important; // VISIBILITY WOULD BREAK FUNCTIONALITY
    z-index: -10!important; // SEND TO BACK
  }

  // HIDE LABEL TEXT
  input + label {
    color: transparent;
  }

  // CREATE NEW OUTER BOX
  input + label::before {
    border: 1px solid rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.1);
    transition: border 0.2s linear;
  }

  // CREATE NEW INNER SQUARE
  input + label::after {
    height: 70%;
    width: 70%;
    background-color: #ffffff;
  }

  // BRING NEW ELEMENTS TO FRONT
  input + label::before,
  input + label::after {
    z-index: 10;
  }

  // MAKE OUTER BOX ALWAYS VISIBLE
  input + label::before {
    content: "";
  }

  // MAKE INNER SQUARE HIDDEN BY DEFAULT
  input + label::after {
    content: none;
  }

  // SHOW INNER SQUARE IN CHECKED INPUTS
  input:checked + label::after {
    content: "";
  }

  // ADD FOCUS SUPPORT FOR ACCESSIBILITY
  input:focus + label::before {
    border: 1px solid rgba(255,255,255,1);
  }

  // INDICATIVE STYLES
  .valid:checked + label::before {
    border: 1px solid $color-green!important;
  }

  .invalid:checked + label::before {
    border: 1px solid $color-red!important;
  }

  .highlight + label,
  .warning + label { // DO NOT INCLUDE INPUT (INPUT OPACITY MUST NOT BE OVERRIDDEN)
    animation: blink 0.3s linear none 3;
  }

  .highlight + label::before,
  .highlight:checked + label::before {
    border: 1px solid $color-white!important;
  }

  .highlight:checked + label::after {
    background-color: $color-white!important;
  }

  .warning + label::before,
  .warning:checked + label::before{
    border: 1px solid $color-yellow!important;
  }

  .warning:checked + label::after {
    background-color: $color-yellow!important;
  }

}

/* BLINK ANIMATION */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
