$color-light-green: #8cc63f;
$color-light-gray: #666666;
$color-light-background: #fefefe;

$color-dark-green: #8ba63e;
$color-dark-gray: #dededd;
$color-dark-background: #172839;

$color-white: #ffffff;
$color-orange: #b65a1d;
$color-yellow: #e1cb5f;
$color-blue: #4c8bad;
$color-purple: #4d0979;
$color-black: #020024;
