.container {
  cursor: pointer;
  user-select: none;
  font-size: 0;
}

.element,
.anchor {
  display: inline-block;
}

.anchor::selection {
  outline: none;
  box-shadow: none;
  border: none;
}

.container img:last-of-type,
.switchChilds img:last-of-type {
  display: none;
}

.switchChilds:hover img:first-of-type,
.switchChilds:focus img:first-of-type {
  display: none;
}

.switchChilds:hover img:last-of-type,
.switchChilds:focus img:last-of-type {
  display: inline;
}

.notAvailable {
  cursor: not-allowed;
}

.container:hover,
.container:focus,
.container:active {
  outline: none;
  box-shadow: none;
}
