.root {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  font-size: 0;
}

.root img:last-of-type,
.switchChilds img:last-of-type {
  display: none;
}

.switchChilds:hover img:first-of-type,
.switchChilds:focus img:first-of-type {
  display: none;
}

.switchChilds:hover img:last-of-type,
.switchChilds:focus img:last-of-type {
  display: inline;
}

.notAvailable {
  cursor: not-allowed;
}
