.container {
  cursor: pointer;
  user-select: none;
  font-size: 0;
}

.element,
.anchor {
  display: inline-block;
}

.anchor::selection {
  outline: none;
  box-shadow: none;
  border: none;
}

.container img:last-child,
.switchChilds img:last-child {
  display: none;
}

.switchChilds:hover img:first-child,
.switchChilds:focus img:first-child {
  display: none;
}

.switchChilds:hover img:last-child,
.switchChilds:focus img:last-child {
  display: inline;
}

.notAvailable {
  cursor: not-allowed;
}
