.root {
  border: 1px solid #000000;
  padding: 10px 30px;
  border-radius: 5px;
  color: #000000;
}

.tooltip {
  color: #ffffff;
  background-color: #e83b35;
  white-space: nowrap;
  padding: 5px;
}
