:global :root {
  --vh: calc(1vh - 0px)!important;
  --vw: calc(1vw - 0px)!important;
}

.measureBoxViewport {
  position: fixed;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  pointer-events: none;
  z-index: -100;
  top: 0;
  left: 0;
}

.measureBoxPercent {
  position: fixed;
  height: 100%;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
  z-index: -100;
  top: 0;
  left: 0;
}
