@import '../../css/colors.module.scss';

.rootClose,
.rootOpen {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 15;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s linear, left 0.3s linear;
}

.rootClose {
  left: 0;
}

.rootOpen {
  left: 100%;
}

.rootClose:hover,
.rootOpen:hover {
  background-color: rgba(0,0,0,0.2);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  min-height: 40px;
  max-height: 60px;
}

.logo {
  height: 100%;
  width: auto;
  cursor: pointer;
}

.spacer {
  height: 3vh;
  min-height: 15px;
  max-height: 40px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: $color-white;
  font-family: quicksand-codistica, 'Quicksand', sans-serif;
  font-size: calc(20px + 1vmin);
}

@media only screen and (min-width: 650px) {
  .rootClose {
    left: 0;
  }

  .rootOpen {
    left: 650px
  }
}
