.root {
  position: absolute;
  display: inline-block;
  width: 267px;
  height: 37px;
  margin: 5px;
  background-color: transparent;
  padding: 8px;
  border: 1px solid #232323;
  border-radius: 5px;
  color: #232323;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  font-size: small;
  transition: border-bottom 0.2s linear, border 0.2s linear
}

.input,
.contentContainer {
  position: inherit;
  display: flex;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  cursor: pointer;
}

.input {
  opacity: 0;
}

.textContainer {
  display: flex;
  overflow: hidden;
  max-width: 267px;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 8px;
  white-space: nowrap;
}

.root:focus,
.root:hover {
  border-color: #e88b0e;
}

.placeholder {
  opacity: 0.4;
}

.blink {
  animation: blink 0.3s linear none 3;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.defaultRenderRoot {
  overflow: hidden;
  width: 250px;
}
