.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  margin: 5px;
  align-items: flex-start;
}

.input {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 0;
  cursor: pointer;
  opacity: 0!important; // USING VISIBILITY PROPERTY WOULD BREAK FUNCTIONALITY
  z-index: -10!important;
}

.button {
  transition: color 0.2s linear, border 0.2s linear;
}

.list {
  display: inline-flex;
  flex-direction: column;
  color: #232323;
  opacity: 0.6;
  transition: color 0.2s linear;
  margin-top: 10px;
}

.list span {
  margin: 2px 5px;
}

.blink {
  animation: blink 0.3s linear none 3;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
